
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src='images/logo.png' class='logo-image'>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#page-top">Sobre</a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Como funciona</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">PRÊMIOS</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">FALE CONOSCO</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header  >
    <div class="container ">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <div class="name">Desafie seus amigos e ganhe prêmios!</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <br/><br/>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <button type="button" class="btn btn-default" style='width: 270px'>
                                CADASTRE-SE GRÁTIS
                            </button>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <br/>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <button type="button" class="btn btn-default" style='width: 270px'>
                                ENTRAR SE JÁ É CADASTRADO
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <br/>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <div class="intro-text">
                            <div class="skills page-scroll" >
                                <img src='images/gift-icon.png' style="display: inline-block">&nbsp;

                                <a href="#about">
                                    <span style="display: inline-block">Veja o que você pode ganhar.</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-5 hidden-xs">
                <img src='images/computer.png' class="computer-image">
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container" >
        <div class="row">
            <div class="col-sm-12" >
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span class='portifolio-title'>Para começar é só se cadastrar e você não paga nada</span>
                    </div>
                </div>

                <div class="row">
                    <br/><br><br>
                </div>

                <div class="row">
                    <div class="col-sm-4" >
                        <div class="portifolio-box">
                            <br>
                            <div>
                                <img src='images/gift-icon.png'>&nbsp;

                                Convide e desafie seus amigos !
                            </div><br>

                            <div>
                                Após se cadastrar convide para que seus amigos se cadastrem<br>
                                Após adicioná-los desafie-os através dos puzzles.<br><br><br>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="portifolio-box">
                            <br>
                            <div>
                                <img src='images/gift-icon.png'>&nbsp;

                                Vença os desafios e acumule pontos!
                            </div><br>

                            <div>
                                Cada amigo adicionado lhe rende pontos<br>
                                E para cada desafio realizado e vencido pontos também são obtidos.<br><br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class=" portifolio-box">
                            <br>
                            <div>
                                <img src='images/gift-icon.png'>&nbsp;

                                Fique no topo e ganhe prêmios mensais!
                            </div><br>

                            <div>
                                Os melhores do ranking irão receber prêmios.<br>
                                Você poderá receber seus prêmios em qualquer agência dos correios sem precisar informar seu endereço.<br><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <br/>

                    <div class="col-lg-12">
                        <div>
                            <button type="button" class="btn btn-default" style='width: 270px'>
                                CADASTRE-SE GRÁTIS
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section  id="about">
    <div class="container">

        <div class="row">
            <div class="col-sm-12" >

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <span class='about-title'>Quais são os prêmios deste mês</span>
                    </div>
                </div>
                <br><br><br><br><br>


                <div class="row">
                    <div class="col-lg-3 text-center">
                        <div>
                            Primeiro Lugar - IPhone 6
                        </div>
                        <div>
                            <img src='images/iphone.jpg' style='width: 200px; height: auto;'>
                        </div>
                        <br>
                    </div>
                    <div class="col-lg-3  text-center">
                        <div>
                            Segundo Lugar - IPad
                        </div>
                        <div>
                            <img src='images/ipad.jpg' style='width: 200px; height: auto;'>
                        </div>
                        <br>
                    </div>
                    <div class="col-lg-3  text-center">
                        <div>
                            Terceiro Lugar - MP3 Player
                        </div>
                        <div>
                            <img src='images/mp3.jpg' style='width: 200px; height: auto;'>
                        </div>
                        <br>
                    </div>
                    <div class="col-lg-3  text-center">
                        <div>
                            Quarto a décimo Lugar - Camisetas
                        </div>
                        <div>
                            <img src='images/camiseta.jpg' style='width: 200px; height: auto;'>
                        </div>
                        <br>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Fale conosco</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">

                            <select class="form-control" id="sel1">
                                <option>Contato</option>
                                <option>Crítica</option>
                                <option>Sugestão</option>
                            </select>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Nome</label>
                            <input type="text" class="form-control" placeholder="Nome" id="name" required data-validation-required-message="Informe seu nome.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Informe seu email.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Mensagem</label>
                            <textarea rows="5" class="form-control" placeholder="Mensagem" id="message" required data-validation-required-message="Informe sua mensagem."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Localização</h3>
                    <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>NOS ACOMPANHE NAS MÍDIAS SOCIAIS</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><img src='images/facebook.png'></a>
                        </li>
                        <li>
                            <a href="#"><img src='images/twiter.png'></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Termos de Uso</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Desafio de Prêmios 2015
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

